.fundo {}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87px;
}

.cabecalho #logo {
    width: 100%;
    max-width: 500px;
}

.text-entrada {
    display: flex;
    align-items: flex-start;
}

.barra-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    font-size: 17px;
}

.barra-header a {
    color: black;
    display: inline;
    border-left: 1px solid #e30606;
    border-right: 1px solid #e30606;
}

.pesquisa {
    position: relative;
    width: 80%;
    margin-left: 10%;
}

.corpo-principal {
    position: relative;
    width: 80%;
    left: 10%;
    border-style: outset;
    background-color: white;
}

.navbar {
    width: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    overflow: hidden;
}

.navbar a {
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    width: 25%;
    text-align: center;
    display: block;
}

.navbar a:hover {
    background-color: lightgray;
}

.main {
    margin-top: 30px;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}

#Playstation {
    border-bottom: 6px solid blue;
}

#Xbox {
    border-bottom: 6px solid green;
}

#Nintendo {
    border-bottom: 6px solid red;
}

#Clássicos {
    border-bottom: 6px solid yellow;
}

.certificações {
    display: flex;
    justify-content: center;
    align-items: center;
}

.certificações #certificados {
    width: 100%;
    max-width: 1000px;
}

.frist-thumb {
    text-align: center;
}

.frist-thumb hr {
    color: #e30606;
}

#mais-vendidos {
    color: #e30606;
    text-align: center;
}

.flex-viewport {
    border-style: groove;
    width: 250px;
    height: 460px;
    border-color: lightpink;
    display: inline-block;
}

.flex-viewport2 {
    border-style: groove;
    width: 250px;
    height: 460px;
    border-color: lightpink;
    display: inline-block;
}

.flex-viewport3 {
    border-style: groove;
    width: 250px;
    height: 460px;
    border-color: lightpink;
    display: inline-block;
}

.flex-viewport4 {
    border-style: groove;
    width: 250px;
    height: 460px;
    border-color: lightpink;
    display: inline-block;
}

.flex-viewport5 {
    border-style: groove;
    width: 250px;
    height: 460px;
    border-color: lightpink;
    display: inline-block;
}

.gmae-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 267px;
    margin-top: 5px;
}

.info-do-produto {
    height: 131px;
    background-color: lightgray;
    width: 243px;
    word-wrap: break-word;
}

.preco-antigo {
    text-align: center;
    text-decoration-line: line-through;
}

.preço {
    text-align: center;
    color: #e30606;
    font-size: 24px;
}

p {
    display: inline;
    position: relative;
    left: 50px;
}

.comprar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comprar button {
    background-color: #e30606;
    color: white;
    float: center;
}

.rodape {
    background-color: rgb(36, 2, 2);
    color: #F2FFFC;
    width: 100%;
}

.redes {
    width: 1%;
    align-items: center;
    position: relative;
    left: 400px;
}

.rede-endereço {
    position: relative;
    left: 410px;
}

.caixa-acesso {
    text-align: center;
    padding: 100px;
    border: double 10px #e30606;
    display: inline-block;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.caixa-acesso #campo-senha {
    width: 100%;
    border: double;
}

.caixa-acesso #campo-username {
    width: 100%;
    border: double;
}

.cadastro {
    text-align: left;
    padding: 100px;
    border: double 10px #e30606;
    display: inline-block;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.cadastro #username,
.cadastro #senha,
.cadastro #email,
.cadastro #telefone,
.cadastro #senha2,
.cadastro #primeironome,
.cadastro #sobrenome {
    width: 100%;
    border: double;
}